/* Globale */

/* Start Fonts */
@font-face {
  font-family: "Stolzl";
  src: url("./assets/fonts/Stolzl/Stolzl-Light.eot");
}
@font-face {
  font-family: "NotoSansArabic";
  src: url("./assets/fonts/Noto_Sans_Arabic/NotoSansArabic-VariableFont_wdth\,wght.ttf");
}


/* End Fonts  */
:root {
  --main-color: #903f97;

  --light-color: #a27dcb;

  --helper-color: #9d65c9;

  --muted-color: #9B9B9B;
}

* {
  padding: 0;
  margin: 0;
  /* text-align: right; */
  font-family: "NotoSansArabic", "Stolzl";
  box-sizing: border-box;
  font-weight: 200;
}
body{
  color: #423f3f;
}

.spacer {
  margin-top: 120px;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover {
  color: inherit;
}
.muted_color{
  color: var(--muted-color);
}

.rounded_24{
  border-radius: 24px;
}
.white_btn{
  color: #000;
  background-color: #fff;
  padding:  2px 22px;
  border-radius: 20.4334px;
  transition: ease-in-out .3s all;
}
.white_btn:hover{
  background-color: #000;
  color: #fff;
}
.skyblue_btn{
  color: #fff;
  background: #019FFE;
  border-radius: 49.0686px;
  padding: 10px 28px;
  font-size: 25px;
  transition: ease-in-out .3s all;
}
.skyblue_btn:hover{
  color: #019FFE;
  background: #fff;
  transform: scale(1.1);
}
